<link rel="stylesheet" type="text/css" media="screen" href="../../css/style.css">

<h1>Liste des utilisateurs</h1>
 
<table>
  <tr style="border:1px solid red">
    <th>nom</th>
    <th>email</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
		<td><%= user.nom %></td>
		<td><%= user.email%></td>
		<td><%= link_to 'Voir', user_path(user) %></td>
		<td><%= link_to 'Editer', edit_user_path(user) %></td>	  
		<td><%= button_to "delete", user_path(user), :method=>:delete, :class=>:destroy, data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Nouvel utilisateur', new_user_path %>